.container {
  display: block;
  /*vertical-align: middle;*/
  /*box-sizing: border-box;*/
  padding: 10px;
  cursor: ew-resize;
}

.container label {
  display: inline-block;
  color: #CCC;
  width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: inherit;
}

.container input {
  display: inline-block;
  border: none;
  background: transparent;
  color: #F0F0F0;
  font-weight: bold;
  cursor: inherit;
}
